@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@* <script>
    document.querySelector('.box').addEventListener('mouseHover', changeColor)

    function changeColor() {
        
    }
</script> *@
<style>

</style>

<script>



</script>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <section id="searchHolder">
        <input type="search" id="search" placeholder="API Projects" />
    </section>

    <section id="project-items">
        <a href="www.google.com">
            <section class="box">
                <img src="./images/csharp.png" class="project-image" />
                <span class="category">C#</span>
                <span class="category-count">97 Calculators</span>
            </section>
        </a>
        <a href="www.google.com">
            <section class="box">
                <img src="./images/database.png" class="project-image" />
                <span class="category">Database</span>
                <span class="category-count">97 Calculators</span>
            </section>
        </a>
        <a href="www.google.com">
            <section class="box">
                <img src="./images/API.png" class="project-image" />
                <span class="category">API</span>
                <span class="category-count">97 Calculators</span>
            </section>
        </a>
        <a href="www.google.com">
            <section class="box">
                <img src="./images/JS.png" class="project-image" />
                <span class="category">JavaScript</span>
                <span class="category-count">97 Calculators</span>
            </section>
        </a>
    </section>
</div>
